@media all and (max-width:767px){
    .savings_calc_test-box {
        display: none;
    }
  }
.savings_calc_test-box{
    outline:1px solid #ddd;
    padding:0.5em 0 0.5em 0.5em;
    margin-bottom:2em;
    display: flex;
    font-size: calc(13px + (16 - 13) * ((100vw - 768px) / (1400 - 768)));
}

.savings_calc_test-cardEnrollmentIcon-ON-CBCC {
    width: 88px;
    height: 55px;
    background: transparent no-repeat url(/buy/assets/preapproval/cardImages.png?v=2);
    background-position: -360px 0px;
    transform: scale(0.65);
    padding: 0;
    margin: 0 -1em 0 0;
    position: relative;
    top: -0.4em;
    left: -1em;
    min-width: 88px;
}
.savings_calc_test-box .middleSection {
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    padding-left: 0.65em;
    width: 41%;
}

.savings_calc_test-Bottom {
    align-self: center;
    width: 11%;
    margin:0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .savings_calc_test-cardEnrollmentIcon-ON-CBCC {
        transform: scale(0.5);
        left: -1.65em;
    }
    .savings_calc_test-PromotionMessage{
        margin-left: -1.5em;
        margin-top: 0.3em;
    }
    .savings_calc_test-Card{
        width:41%;
    }
    .savings_calc_test-box .middleSection{
        width:44%;
    }
}

@media screen and (min-width: 1024px){
  .savings_calc_test-box .middleSection{
    width: 38%;
  }
  .savings_calc_test-Bottom {
    width: 11.35%;
	}
}


.savings_calc_test-shippingSubTotalTitle {
    padding-right: .4em;
    font-weight: 700;
    max-width: 73%;
    display: inline-block;
}

.savings_calc_test-shippingSubTotal {
    font-weight: 700;
    display: inline-block;
}


.savings_calc_test-PromotionMessage {
    line-height: 1.25em;
    font-family: "Source Sans Pro", Helvetica, Arial, Roboto, sans-serif;
    padding-right: 0.5em;
    
}

.savings_calc_test-Card {
    display: flex;
}

.savings_calc_test-box .savings_calc_test-preApprovalCardRow {
    width: 100%;
    display: inline-block;
    clear: both;
}

.savings_calc_test-Top {
    background: #fff;
    display: flex;
}

.savings_calc_test-space {
    padding: .5em 0;
}

.savings_calc_test-SubTotalText {
    font-weight: 400;
    width: 60%;
}

.savings_calc_test-SubTotal {
    text-decoration: line-through;
    font-weight: 400;
}

.savings_calc_test-border {
    border-bottom: 1px solid #ccc;
    padding-bottom: .2em;
}

.savings_calc_test-total-space {
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
}

.savings_calc_test-box .savings_calc_test-saving {
    color: #d00000;
    padding-bottom:0.5em;
}

.savings_calc_test-box .savings_calc_test-withcard {
    color: #333 ;
    font-weight: 700;
    padding: 0;
}

.savings_calc_test-button-row {
    text-align:center;
}

.savings_calc_test-button-row .link {
    font-weight: 400;
    font-size: 81.3%;
    color: #339;
}

.savings_calc_test-about-offer {
    text-decoration: none;
    display:inline-block;
}

.savings_calc_test-getStartedButton {
    float: right;
    font-weight: 700;
    background-color: #fff;
    border-width: 1px;
    color: #333;
    font-size: 0.65em;
    opacity: 1;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0.45em;
    font-family: "Source Sans Pro", Helvetica, Arial, Roboto, sans-serif;
}

.savings_calc_test-getStartedButton1:hover {
    background-color: #fff;
    border-color: #333;
    color: #000;
}

.savings_calc_test-body-a_universal {
    font-family: "Source Sans Pro", Helvetica, Arial, Roboto, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    color: #666;
}

.savings_calc_test-box .link {
    color: #0466ca;
  	font-size: 13px;
}


/* New message */

.savings_calc_test-box .PromotionMessage > div {
    font-size: 90%;
    line-height: 1.25;
}
.savings_calc_test-box .savings_calc_test-PromotionMessage > div:nth-child(3), .savings_calc_test-box .savings_calc_test-PromotionMessage > div:nth-child(4) {
    padding-top: 0.3em;
}

.savings_calc_test-box .savings_calc_test-preApprovalCardRow span:nth-child(2) {
    padding: 0;
    float: right;
}
.savings_calc_test-box .savings_calc_test-PromotionMessage b:nth-of-type(1) {
    text-transform: uppercase;
   
}
.savings_calc_test-box .savings_calc_test-PromotionMessage > div:nth-child(4){
 		color: #929292;
}

.savings_calc_test-box a.savings_calc_test-getStartedButtonTracker.savings_calc_test-getStartedButton.savings_calc_test-getStartedButton1{
    color:#333;
    font-size: 12px;
}
.savings_calc_test-box .savings_calc_test-withcard:nth-child(1):after {
    content: 'Tax calculated in checkout';
    display: inline-block;
    font-family: "Source Sans Pro",Helvetica,Arial,Roboto,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    color: #666;
    position: relative;
    top:-0.35em;
    font-size: 13px;
}
